@import "./reset";
$linkcolor: #fff;
$footercolor: #fff;

a{
	text-decoration: none;
}

body {
	font-family: "Noto Sans TC", "Roboto", sans-serif;
	line-height: 1.5;
  }

img{
  max-width: 100%;
  height: auto;
  vertial-align:middle;
}


*,*::before,*::after{
	box-sizing: border-box;
}

header, footer{
	background-color: #AA0601;
}

.container{
	max-width: 1320px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}

@media (max-width: 992px) {
	.container {
	  padding-left: 36px;
	  padding-right: 36px;
	}
  }
  @media (max-width: 767px) {
	.container {
	  padding-left: 13px;
	  padding-right: 13px;
	}
  }

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 16px;
	padding-bottom: 16px;
}

@media(max-width: 767px){
	.header{
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
	}
	header .container {
		padding: 0;
	  }
}

.logo a{
	display:block;
	width:80px;
	height:48px;
	background-image: url(../images/logo-white.png);
	background-size: contain;
    background-repeat: no-repeat;
	text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
	
}
@media(max-width: 767px) {
	.logo{
		padding-top: 12px;
		padding-bottom: 12px;
	}
}

.menu{
	display: flex;
	flex-wrap: wrap;
  }

.menu li a{
	font-size: 20px;
	line-height: 30px;
	display:block;
	text-align:center;

}

.menu li a:hover{
	background:#650300;
}

@media(max-width: 767px) {
	.menu{
		flex-wrap: wrap;
	}
	.menu li{
		width: 50%;
		border: 1px solid #fff;
		margin:0;	
		padding-right: 62px;
		padding-left: 62px;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.menu li a{
		font-size: 16px;
		line-height: 24px;
	}
}

.footer{
	padding-top: 60px;
	padding-bottom: 32px;
	color: $footercolor;
}

@media (max-width: 992px) {
	.footer{
		padding-top: 48px;
		padding-bottom: 40px;
	}
}

@media(max-width: 767px) {
	.footer{
		padding-top: 24px;
		padding-bottom: 24px;
	}
}

.footer-menu{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.footer-menu a:hover{
	background:#650300;
}

.icon li img{
	width: 48px;
	height: 48px;
}

@media (max-width: 992px) {
	.icon li img{
		width: 40px;
		height: 40px;
	}

}

@media (max-width: 767px) {
	.icon li img{
		width: 24px;
		height: 24px;
	}
	.menu2 .df{
		display:none;
	}
}

.footer-contact a span{
	font-size: 36px;
	margin-right: 22px;
	vertical-align: middle;
}

@media (max-width: 767px) {
	.footer-contact ul{
		font-size: 16px;
		line-height: 24px;
	}
	.footer-contact a span{
		font-size: 18px;
		margin-right: 11px;
	}
}

.footer-copyright{
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #fff;
	padding-top: 32px;
}

.footer-copyright ul{
	display: flex;
}

@media (max-width: 767px) {
	.footer-copyright{
		display: flex;
		flex-direction: column;
	}
	.footer-copyright ul{
		display: block;
	}
	.footer-copyright p,li{
		margin-bottom: 8px;
	}
}

a{
	color: $linkcolor;
}


.df{
	display: flex;
}

.mr-20{
	margin-right: 20px;
}

.mr-32{
	margin-right: 32px;
}

.mr-48{
	margin-right: 48px;
}

.mr-64{
	margin-right: 64px;
}

.mb-24{
	margin-bottom: 24px;
}

.mb-32{
	margin-bottom: 32px;
}

.mb-45{
	margin-bottom: 45px;
}


.fz-14-21{
	font-size: 14px;
	line-height: 21px;
}

.fz-16-24{
	font-size: 16px;
	line-height: 24px;
}

.fz-36-54{
	font-size: 36px;
	line-height: 54px;
}

.fz-36{
	font-size: 36px;
}

.fz-40{
	font-size: 40px;
}